* {
  /*box-sizing: inherit;*/
}

*:before, *:after {
  /*box-sizing: inherit;*/
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.headerResult {
  background-color: #048f83;
  color: #fff;
}

